body {
  background: #618c12;
  }

h3{
  font-family: 'Rock Salt', cursive;
  text-align: center;
}
 h4{
   font-family: 'Rock Salt', cursive;
   text-align: center;
   font-size: 25px;
   }
  h5{
    font-family: 'Rock Salt', cursive;
    text-align: center;

  }

.neighborhoods {
  font-family: 'Prociono', serif;
  font-size: 25px;
}

.nav-wrapper {
  background-color: #8c1224
}

.artists{
  font-family: 'Prociono', serif;
  font-size: 25px;
}

.card-panel{
  height: 200px;
  background-color: teal;
}
