body {
  background: #608a12;
}
h3{
  font-family: 'Rock Salt', cursive;
  text-align: center;
}
 h4{
   font-family: 'Rock Salt', cursive;
   text-align: center;
   font-size: 25px;
   }

.neighborhoods {
  font-family: 'Prociono', serif;
  font-size: 25px;
}

.nav-wrapper {
  background-color: #8c1224
}

.artists{
  font-family: 'Prociono', serif;
  font-size: 25px;
}
