<%- include ./partials/header.ejs %>
<div class="">
  <div class="title">
    <h3>Murality Austin</h3>
  </div>
  <div class="mainpagemessages">
    <p>Not signed in</p>
    <a href="/signup">Register</a>
  </div>
</div>
  <% if (user) { %>
    <p>Signed in as ID # <%= user.id %></p>
    <p>Signed in as <%= user.email %></p>
    <p><a href='/auth/logout'>Logout</a></p>
    <% } else { %>
    <p>you are not logged in</p>
      <% } %>
      <img src="/assets/MuralityHomeImage.jpg" alt="muralcollage">




<%- include ./partials/footer.ejs %>
