<%- include ./partials/header.ejs %>

  <div class="title">
    <div class="row">
      <h3 class="">Murality Austin</h3>
      <a href="/signup" class="waves-effect waves-light btn-large">
        <i class="material-icons left">group_add</i>Sign up now!
      </a>
    </div>
  </div>
  <img class="responsive-img"src="/assets/MuralityHomeImage.jpg" alt="muralcollage">

<%- include ./partials/footer.ejs %>
