<%- include ./partials/header.ejs %>


    <h1>Murality Austin</h1>
    <!-- TODO We need a route to the server.new.ejs -->
    <% if (user) { %>
      <p>Signed in as ID # <%= user.id %></p>
      <p>Signed in as <%= user.email %></p>
      <p><a href='/auth/logout'>Logout</a></p>
    <% } else { %>
      <p>Not signed in</p>

    <% } %>
    <% console.log(user) %>
    <ul>
        <li><a href="/artists">Artists</a></li>
        <li><a href="/neighborhoods">Neighborhoods</a></li>
        <li><a href="/murals">Murals</a></li>
        <li><a href="/tours">Tours Close to You</a></li>

    </ul>

<%- include ./partials/footer.ejs %>
