<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tours</title>
  </head>
  <body>
    <h1>Tour List</h1>
    <% let curTourId = 0; %>
    <% let tourCount = 1; %>
    <% let firstList = true; %>
      <% toursMurals.forEach(tour => { %>
        <% if (tour.tour_id !== curTourId) {
          <% if (firstList) { %>
            <% firstList = false; %>
          <% } else { %>
          </ul>
          <% } %>
          <h3><%= tourCount++ %></h3>
          <ul>
        <% } %>
            <li><%= toursMurals.muralName + ', ' + toursMurals.artistName %></li>
      <% }) %>
    </ul>
  </body>
</html>
