<%- include ../partials/header.ejs %>

    <h1>Tour List</h1>
    <% let curTourId = 0; %>
    <% let tourCount = 1; %>
    <% let firstList = true; %>
      <% toursMurals.forEach(tour => { %>


        <% if (tour.tour_id !== curTourId) { %>
          <% if (firstList) { %>
            <% firstList = false; %>
          <% } else { %>
          </ol>
          <% } %>
          <h3><%= tourCount++ %></h3>
          <ol>
        <% } %>
            <li><%= tour.muralName + ', ' + tour.artistName %></li>
      <% }) %>
    </ol>

<%- include ../partials/footer.ejs %>
