<%- include ../partials/header.ejs %>


    <h1>Neighborhood List</h1>
    <ul>
      <% neighborhoods.forEach(neighborhood => { %>
        <li><%= neighborhood.name %></li>
      <% }) %>

    </ul>

    <div id='map' style='width: 400px; height: 300px;'></div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1Ijoid2l0dHJ1cmEiLCJhIjoiY2o4dzFtZm1vMWlueDM4bjV4OHg0aGczZSJ9.JpDCG8sGuO_igx1JjUa4Pw';
      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v10',
      center: [-97.7437,
                30.2711], // starting position [lng, lat]
      zoom: 9 // starting zoom
      });
    </script>
    

<%- include ../partials/footer.ejs %>
