<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Murality Austin</title>
  </head>
  <body>
    <h1>Murality Austin</h1>
    <!-- TODO We need a route to the server.new.ejs -->
    <button type="button" name="button"><a href="/new">Sign-in</a></button>
    <button type="button" name="button"><a href="/server">Log-out</a></button>
    <ul>
        <li><a href="/artists">Artists</a></li>
        <li><a href="/neighborhoods">Neighborhoods</a></li>
        <li><a href="/murals">Murals</a></li>
        <li><a href="/tours">Tours Close to You</a></li>

    </ul>
  </body>
</html>
