<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Murals</title>
  </head>
  <body>
    <h1>Mural List</h1>
    <ul>
      <% murals.forEach(mural => { %>
        <li><%= mural.name %></li>
      <% }) %>

    </ul>
  </body>
</html>
