<%- include ../partials/header.ejs %>

    <h3>Add an Artist</h3>
    <form class="" action="/artists" method="post">
      <fieldset>
        <div class="">

          <div class="">
            <label for="artist-name">Artist name</label>
            <input id="name" class="" type="text" placeholder="Picasso" name="name">
          </div>

          <div class="">
            <label for="Bio">Bio</label>
            <input id="Bio" class="" type="text" placeholder="This artist is recognizable to many Austonians" name="bio">
          </div>

          <!-- <div class="pure-u-1 pure-u-md-1-3">
            <label for="neighborhood">Neighborhood</label>
            <select id="neighborhood" class="pure-input-1-2" name="neighborhood_id">
                    <% neighborhoods.forEach((neighborhood) => {  %>
                      <option value="<%= neighborhood.id %>"><%= neighborhood.name %></option>
                    <% }) %>
                      </select>
          </div> -->
        </div>

        <label for="terms" class="">
              <input id="terms" type="checkbox"> I've read the terms and conditions
          </label>

        <button type="submit" class="">Submit</button>
      </fieldset>
    </form>

  <%- include ../partials/footer.ejs %>
