<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Artists</title>
  </head>
  <body>
    <h1>Artist List</h1>
    <ul>
      <% artists.forEach(artist => { %>
        <li><%= artist.name %></li>
      <% }) %>

    </ul>
  </body>
</html>
