<%- include ../partials/header.ejs %>


  <body>
    <h1>Artist List</h1>
    <ul>
      <% artists.forEach(artist => { %>
        <li><a href="artists/<%= artist.id %>"><%= artist.name %></li>
      <% }) %>

    </ul>
  </body>
</html>


<%- include ../partials/footer.ejs %>
