<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Artists</title>
  </head>
  <body>
    <h1>Artist List</h1>
    <ul>
      <% artists.forEach(artist => { %>
        <li><a href="artists/<%= artist.id %>"><%= artist.name %></li>
      <% }) %>
    </ul>
  </body>
</html>
