<%- include ../partials/header.ejs %>

<h1>Local Artists</h1>
<% if (user) { %>
<a href ="artists/create"><button type="submit" class="pure-button pure-button-primary">Create</button></a>
<% } %>
<div>
<ul>
  <% artists.forEach(artist => { %>
    <li><a href="artists/<%= artist.id %>"><%= artist.name %></li>
  <% }) %>
</ul>
</div>

<%- include ../partials/footer.ejs %>
